.container {
	background-color: aliceblue;
}

.header {
	font-size: 20px;
	font-weight: 600;
	background-color: #9fc4fc;
	margin-bottom: 1rem!important;
	border-radius: 8px;
}
.organizationName {
	font-size: 20px;
	font-weight: 400;
}

